body {
  font-family: 'Saira', sans-serif;
  max-width: 1200px;
  background-color: black;
}
h1 {
  color: #C6C6C8;
  font-size: 23px;
  font-weight: 100;
  font-family: 'Cutive Mono', monospace;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
}
h2 {
  color: #C6C6C8;
  font-size: 22px;
  font-weight: 100;
  font-family: 'Cutive Mono', monospace;
  margin-left: 730px;
  margin-bottom: 5px;
  margin-top: 0px;
  position:
}
main {
  margin-top: 0px;
  background-color: black;
  margin-bottom: 50px;
}
.hide {
  display: none;
}
.one {
  color: #C6C6C8;
  font-weight: 100;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}
.links {
  color: #C6C6C8;
  height: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Saira', sans-serif;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
}
li {
  list-style: none outside none;
}
.top {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 0px;
  color: #C6C6C8;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Saira', sans-serif;
  padding-left: 0;
  padding-right: 0;
}
.name {
  font-size: 38px;
  font-weight: 900;
  font-family: 'IM Fell Great Primer SC', serif;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 140px;
  color: #C6C6C8;
}
.header {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 30px;
  margin-top: 0px;
  font-weight: normal;
  font-family: 'Saira', sans-serif;
  color: #C6C6C8;
  margin-bottom: 100px;
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kompromat {
  width: 1200px;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: no-repeat center center;
  height: 628px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  background-image: url("../img/logo.png");
  background-position: no-repeat;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100px;
  width: 134px;
}
.right {
  margin-left: 730px;
  margin-bottom: 0px;
}
.left {
  margin-left: 5px;
  margin-bottom: 0px;
}
h4 {
  color: #C6C6C8;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Cutive Mono', monospace;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.scary {
  margin-left: 300px;
}
h3 {
  margin-top: 0px;
  margin-left: 860px;
  color: #C6C6C8;
  font-size: 22px;
  padding-top: 200px;
  margin-bottom: 0;
}
.top-block {
  margin-left: 10px;
  margin-top: 0px;
  color: #C6C6C8;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 100;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
h5  {
  color: #C6C6C8;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Lekton', sans-serif;
  margin-left: 5px;
  margin-top: 0px;
  line-height: 31px;
}
.footy {
  margin-top: 0px;
  margin-left: 850px;
  color: #C6C6C8;
  font-size: 12px;
  padding-top: 5px;
  width: 320px;
}
.social {
  margin-top: 38px;
  margin-left: 20px;
}
p {
  font-family: 'Saira', sans-serif;
  font-size: 16px;
  width: 600px;
  color: white;
}
.middle {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C6C6C8;
}
.quote {
  margin-left: 20px;
  margin-bottom: 200px;
  width: 360px;
}
.another {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C6C6C8;
}
.another2 {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C6C6C8;
}

.last {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C6C6C8;
}
.russia {
  width: 450px;
  margin-left: 20px;
}
.sentence {
  width: 420px;
  margin-right: 30px;
}
.sentence2 {
  width: 420px;
  margin-right: 30px;
}

hr.style4 {
  margin-top: 40px;
  border-top: .5px dotted #C6C6C8;
  width: 100%;
}

.inner {
  width: 1180px;
  border-color: white;
  border: 1px solid white;
  border-right: 1px solid white;
  margin-left: 50px;
  margin-top: 0px;
   display: list-item;
}
.dangerous {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C6C6C8;
}
font {
   display: list-item;
  margin-left: 30px;
}
.nav-text {
  color: #C6C6C8;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0px;
  margin-right: 0px;
}
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 280px;
  overflow:visible;
}
.main-menu {
  background: black;
  color: #C6C6C8;
  border-right:1px solid black;
  position:absolute;
  top: 0;
  bottom:0;
  height: 700px;
  left:0;
  width: 56px;
  overflow:hidden;
  transition: width .05s linear;
  z-index:1000;
}
.main-menu>ul {
  font-family: 'Saira', sans-serif;
  color: #C6C6C8;
}

.main-menu li {
  position:relative;
  font-family: 'Saira', sans-serif;
  display:block;
  width: 300px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color: #C6C6C8;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  text-decoration:none;
  transition:all .1s linear;
}
.bright {
  color: #BF1010;
  font-size: 14px;
  font-family: 'Text Me One', sans-serif;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width: 60px;
  height: 36px;
  text-align:center;
  vertical-align:middle;
  font-size: 18px;
  color: #C6C6C8;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width: 250px;
  font-family: 'Saira', sans-serif;
  color: #C6C6C8;
}
.no-touch .scrollable.hover {
  overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

/*a:hover,a:focus {
  text-decoration:none;
}*/

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}

.area {
  float: left;
  background: #6C030B;
  color: #C6C6C8;
  width: 100%;
  height: 100%;
}

.on {
  width: 1200px;
  height: 300px;
  border: 1px solid black;
  overflow: auto;
}
.footer{
  margin-top: 10px;
  font-size: 24px;
  margin-left: 580px;
}

.scroll {
  font-size: 22px;
  margin-top: 500px;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: 'Saira', sans-serif;
}
.scrollTop {
  font-size: 24px;
  margin-top: 500px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Saira', sans-serif;
}
a {
  text-decoration: none!important;
  color: #C6C6C8;
  font-weight: 100;
  font-size: 22px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
   body {
     max-width: 600px;
   }
    .header {
        width: 600px;
        display: flex;
        flex-direction: column;
    }
    .top {
      width: 600px;
      display: flex;
      flex-direction: column;
      margin-right: 100px;
    }
    .one {
      font-size: 20px;
      border-bottom: 1px solid #C6C6C8;
    }
    li:nth-child(2) {
      order: 1;
    }
    li:nth-child(1) {
      order: 2;
    }
    li:nth-child(3) {
      order: 4;
    }
    li:nth-child(4) {
      order: 3;
    }

    .logo {
      width: 600px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      margin-left: 100px;
    }
    .name {
      width: 600px;
      font-size: 34px;
      margin-right: 80px;
      display: flex;
      margin-left: 125px;
      flex-direction: column;
    }
    .picture {
      width: 440px;
      display: flex;
      flex-direction: column;
    }
    .top-block {
      width: 350px;
      display: flex;
      flex-direction: column;
      margin-left: 5px;
    }

    h1 {
      width: 350px;
      display: flex;
      font-size: 26px;
      flex-direction: column;
      margin-left: 0px;
    }
    h5 {
      width: 350px;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      margin-left: 0px;
    }
    #latest {
      margin-left: 0px;
      width: 600px;
      display: flex;
      flex-direction: column;
    }
    .on {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 400px;
    }
   .inner {
     margin-left: 0px;
     width: 400px;
     text-align: left;
   }
   h4 {
     font-size: 24px;
      width: 340px;
   }
   font {
     /*text-align: left;*/
     margin-left: 26px;
     font-size: 19px;
     display: list-item;
     width: 320px;

   }
   .main-menu{
     margin-left: 0px;
     width: 50px;
     margin-right: 40px;
   }
   .main-menu:hover {
     width: 200px;
     height: 820px;
   }
   .center-block {
     width: 350px;
     display: flex;
     flex-direction: column;
   }
   .left {
     width: 350px;
   }
   .right {
     width: 350px;
     margin-left: 5px;
   }
   h2 {
     margin-left: 5px;
     font-size: 24px;
   }
   .bright {
     font-size: 20px;
   }
   .middle {
     width: 500px;
     display: flex;
     flex-direction: column;
     margin-bottom: 0px;
   }
   .quote {
      width: 340px;
      margin-left: 0px;
      text-align: left;
      margin-right: 220px;
      margin-bottom: 20px;
   }
   .another {
     margin-top: 0px;
     margin-left: 10px;
     width: 260px;
     margin-right: 160px;
     display: flex;
     flex-direction:column-reverse;
   }
   .sentence {
     margin-right: 0px;
     margin-left: 80px;
     width: 340px;
   }
   .last {
     width: 310px;
     margin-left: 15px;
     display: flex;
     flex-direction: column;
   }
   .russia {
     margin-right: 0px;
     margin-left: 20px;
     width: 340px;
   }
   .dangerous {
     width: 340px;
   }
   .sociopath {
     margin-left: 0px;
     width: 340px;
     margin-right: 60px;
     margin-bottom: 0px;
   }
   .ny {
     width: 440px;
   }
   .sick {
     width: 440px;
   }
   .another2 {
     margin-left: -50px;
     width: 550px;
     display: flex;
     flex-direction: column-reverse;
     margin-bottom: 0px;
   }
   .sentence2 {
      width: 340px;
      margin-left: 25px;
   }
   .scrollTop {
     margin-top: 0px;
     margin-bottom: 100px;
   }
  footer {
    margin-left: 60px;
    width: 200px;
    margin-right: 800px;
  }
  .footer {
    margin-left: 60px;
    width: 200px;
    margin-right: 800px;
  }
  p {
    margin-left: 60px;
    width: 200px;
      margin-right: 800px;
  }
  .social {
    margin-right: 40px;
    margin-left: 14px;
  }
  .style4 {
    width: 1200px;
    margin-left: 20px;
  }
  .latestone {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .firstone {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .scary {
    margin-left: 0px;
    width: 500px;
  }
  .women {
    margin-left: 0px;
    width: 500px;
  }
  .archived {
    width: 400px;
  }
  .style4 {
    margin-left: 0px;
    width: 800px;
    margin-right: 20px;
  }
  .site-wrapper {
    overflow-x: hidden;
    overflow-y: scroll !important;
    max-width: 600px;
  }

}
